* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 1%;
    font-family: 'Comic Sans MS', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    height: auto;
    gap: 10px;
}

/*Barra De Navegación*/

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 2%;
}

.div-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titulo {
    display: flex;
    flex-direction: column;
}

#logo{
    width: 100px;
    height: auto;
}    

#libros{
    width: 50px;
    height: auto;
}

.horizonte {
    color: #2761AD;
    font-size: 2.5rem;
}

.div-n {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8%;
    width: 62%;
    flex-wrap: wrap;
}

.input{
    display: flex;
    flex: 3;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100%;;
    gap: 10px;
}

.carro{
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.carro div{
    display: flex;
    flex-direction: column;
}

input {
    height:40px;
    border-radius: 5px;
    border: black 1px solid;
    width: 70%;
}

#email{
    font-size: 1rem;
    text-align: left;
    padding-left: 5px;
    min-width: 300px;
}

#login {
    background-color: #2761AD;
    color: white;
    border: none;
    padding: 0% 3%;
    width: 25%;
    min-width: 100px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

/*Contenedor 1*/

.contenedor1 {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex: 1;
    gap: 20px;
    padding: 1%;
    background-color: #D2DDE9;
    flex-wrap: wrap;
    justify-content: center;
}

.cont-11{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.plato {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    background-color: #ECEFF4;
}

.plato-img {
    height: auto;
    width: 150px;
}

/*contenedor 2*/

.contenedor2 {
    display: flex;
    text-align: center;
    flex-direction: row;
    flex: 4;
    gap: 5px;
    padding: 1%;
    flex-wrap: wrap;
}

.c2-div1 {
    display: flex;
    flex-direction: column;
    flex: 3;
    background-color: #C5C5C5;
    padding: 1%;
    padding-top: 4%;
    flex-wrap: wrap;
    height: auto;
    min-width: 350px;
}

.d1{
    display: flex;
    flex: 5;
    flex-direction: row;
}

.d2{
    display: flex;
    flex: 1;
    justify-content: center;
    padding-right: 5%;
}

.t-c2 {
    display: flex;
    flex: 1;
    padding: 1%;
    flex-direction: column;
    gap: 1%;
}

.tc2desc {
    display: flex;
    font-size: 2.3rem;
    font-weight: bold;
    text-align: start;
    flex: 1;
    align-items: center;
}

.tc2dom {
    display: flex;
    font-size: 1.20rem;
    text-align: start;
    flex: 1;
}

.barra-azul {
    width: 25%;      
    height: 5px;      
    background-color: #2761AD;
}

.mex {
    font-weight: bold;
}

.serv {
    text-decoration: underline;
}

.dom {
    color: #FC6500;
}

.img-c2 {
    display: flex;
    flex: 2;
    height: 400px;
    overflow: hidden; 
    position: relative;
}

#img-1{
    width: 100%;
    height: auto;
}

#video{
    width: 100%;
  height: 100%;
  
  /* El truco de magia: recorta el video para llenar el div sin deformarlo */
  object-fit: cover; 
  
  /* Opcional: centra el recorte (por defecto ya está al centro) */
  object-position: center; 
}

.rec {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 350px;
    text-align: start;
    padding: 1%;
}

.orden {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px;
    margin-bottom: 1px;
    border: gray 1px solid;
}

.orden div img{
    height: 120px;
}

.orden-c{
    display: flex;
    flex:2;
}

.orden-t {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    align-items: center;
    flex: 4;
    padding: 0 10px;
}

.ver-mas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.orden-t div {
    text-align: start;
    width: 100%;
}

.orden-t div p {
    font-size: 0.9rem;
}

.orden div img {
    width: 100%;
}

button {
    background-color: #17324F;
    border-radius: 50%;
    border: none;
    padding: 0px 8.5px;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
}

h3{
    font-size: 1.1rem;
}